#home nav.links a:hover:after, #home nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#home nav, #home nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg path, .extra svg rect, .extra svg circle {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover circle {
  fill: #74b5b0; }

.qpool .header, .expcko .header {
  padding-bottom: 0px;
  overflow: hidden; }

.pm .arch img:nth-of-type(2), .pm .features img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-border-radius: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12.5pt;
  font-weight: 300;
  letter-spacing: 0.25pt;
  color: #3b3a36; }

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 17.5pt;
  font-weight: 200;
  letter-spacing: 0.5pt;
  text-transform: none; }

a {
  color: #7f9399;
  text-decoration: none; }
  a:hover {
    color: #74b5b0;
    text-decoration: none; }

.underlined {
  font-weight: 400; }

section {
  padding-top: 56px;
  padding-bottom: 56px; }
  section:nth-of-type(n+2):nth-of-type(-n+3) {
    padding-left: 44px;
    padding-right: 44px; }
    @media screen and (min-width: 768px) {
      section:nth-of-type(n+2):nth-of-type(-n+3) {
        padding-left: 112px;
        padding-right: 112px; } }
    section:nth-of-type(n+2):nth-of-type(-n+3) .row > div {
      padding-left: 10px;
      padding-right: 10px; }
      @media screen and (min-width: 768px) {
        section:nth-of-type(n+2):nth-of-type(-n+3) .row > div {
          padding-left: 14px;
          padding-right: 14px; } }
  section .row > div {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      section .row > div {
        padding-top: 10px;
        padding-bottom: 14px; } }

#home {
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  #home .row {
    margin-left: 0;
    margin-right: 0; }
    #home .row:first-child {
      margin-bottom: 28px; }
  #home nav {
    padding-top: 4px;
    padding-bottom: 4px; }
    #home nav a:first-of-type :after {
      width: 100%;
      background: #74b5b0; }
    #home nav ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0; }
      #home nav ul li {
        display: inline-block;
        padding-left: 24px !important;
        padding-right: 24px !important; }
    #home nav.links a {
      color: #3b3a36;
      font-family: "Raleway", sans-serif;
      font-size: 14pt;
      font-weight: 100;
      text-decoration: none;
      display: inline-block; }
      #home nav.links a:after {
        content: '';
        display: block;
        margin: auto;
        height: 2.5px;
        width: 0;
        background: transparent;
        -webkit-transition: width 0.5s ease;
        -moz-transition: width 0.5s ease;
        -ms-border-radius: width 0.5s ease;
        -o-transition: width 0.5s ease;
        transition: width 0.5s ease; }
    #home nav.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030;
      text-align: center;
      background-color: #fff; }
      #home nav.fixed a {
        font-family: "Raleway", sans-serif;
        font-size: 11.5pt;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none; }
        #home nav.fixed a:hover {
          color: #74b5b0; }
        #home nav.fixed a .active {
          color: #74b5b0; }

div.work_thumbnail figure {
  position: relative; }
div.work_thumbnail figcaption {
  text-transform: capitalize;
  background-color: rgba(59, 58, 54, 0.85);
  text-align: center;
  color: #74b5b0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 12%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  div.work_thumbnail figcaption div.caption {
    padding-bottom: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    div.work_thumbnail figcaption div.caption h3 {
      color: #fff; }
div.work_thumbnail:hover figcaption {
  opacity: 1; }

#footer {
  text-align: center;
  font-size: 8.5pt; }

.extra {
  text-align: center; }

#home nav.links a:hover:after, #home nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#home nav, #home nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg path, .extra svg rect, .extra svg circle {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover circle {
  fill: #74b5b0; }

.qpool .header, .expcko .header {
  padding-bottom: 0px;
  overflow: hidden; }

.pm .arch img:nth-of-type(2), .pm .features img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-border-radius: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

nav {
  padding-top: 36px;
  padding-bottom: 8px; }
  nav.footer {
    padding-top: 36px;
    padding-bottom: 36px; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li:nth-of-type(1) {
      text-align: left; }
    nav ul li:nth-of-type(2) {
      text-align: center; }
    nav ul li:nth-of-type(3) {
      text-align: right; }

.project .vpadding {
  padding-left: 18px;
  padding-right: 18px; }
  @media screen and (min-width: 768px) {
    .project .vpadding {
      padding-left: 76px;
      padding-right: 76px; } }
.project .vpadding-sm {
  padding-left: 22px;
  padding-right: 22px; }
  @media screen and (min-width: 768px) {
    .project .vpadding-sm {
      padding-left: 32px;
      padding-right: 32px; } }
.project .hpadding-lg {
  padding-top: 22px;
  padding-bottom: 22px; }
  @media screen and (min-width: 768px) {
    .project .hpadding-lg {
      padding-top: 22px;
      padding-bottom: 32px; } }
.project .hapdding-sm {
  padding-top: 10px;
  padding-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .project .hapdding-sm {
      padding-top: 10px;
      padding-bottom: 18px; } }
.project .margin-dv {
  margin-bottom: 32px; }
.project section {
  padding-top: 64px;
  padding-bottom: 64px; }
  .project section:nth-child(odd) {
    background-color: #fcfcfc; }
.project .header {
  font-size: 14.5pt; }
  .project .header h2 {
    text-align: left;
    letter-spacing: 0.35pt; }
.project h2 {
  font-weight: 300; }
.project h4 {
  font-weight: 200; }
.project h2, .project h4, .project h5.links {
  text-align: center; }
.project h1, .project h2, .project h3, .project h4, .project h5 {
  font-family: "Raleway", sans-serif; }
.project .strong {
  font-weight: 400;
  font-size: 14.5pt; }
.project .overview_role ul {
  list-style-type: square;
  padding-left: 0px;
  list-style-position: inside; }
.project .overview_links ul {
  list-style: none;
  padding-left: 0px; }
.project .overview_role, .project .overview_links {
  text-transform: capitalize; }
.project a {
  color: #7f9399; }

#home nav.links a:hover:after, #home nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#home nav, #home nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg path, .extra svg rect, .extra svg circle {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover circle {
  fill: #74b5b0; }

.qpool .header, .expcko .header {
  padding-bottom: 0px;
  overflow: hidden; }

.pm .arch img:nth-of-type(2), .pm .features img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-border-radius: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.qpool .img-header {
  max-width: 235%;
  margin-bottom: -128px; }
.qpool .header {
  padding-right: 0; }
.qpool .intro {
  margin-top: 84px; }
.qpool a:hover, .qpool a:focus {
  text-decoration: none;
  color: #bf6580; }
.qpool .concept {
  color: #fff;
  background: url("../assets/math/studying.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  .qpool .concept:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -o-linear-gradient(to right, rgba(59, 58, 54, 0.85), rgba(59, 58, 54, 0));
    background: -moz-linear-gradient(to right, rgba(59, 58, 54, 0.85), rgba(59, 58, 54, 0));
    background: -webkit-linear-gradient(to right, rgba(59, 58, 54, 0.85), rgba(59, 58, 54, 0));
    background: linear-gradient(to right, rgba(59, 58, 54, 0.85), rgba(59, 58, 54, 0)); }
  .qpool .concept h2 {
    text-align: left; }

#home nav.links a:hover:after, #home nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#home nav, #home nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg path, .extra svg rect, .extra svg circle {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover circle {
  fill: #74b5b0; }

.qpool .header, .expcko .header {
  padding-bottom: 0px;
  overflow: hidden; }

.pm .arch img:nth-of-type(2), .pm .features img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-border-radius: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.expcko .img-header {
  margin-bottom: -32px; }
.expcko a:hover, .expcko a:focus {
  text-decoration: none;
  color: #003460; }
.expcko .prototype {
  padding-bottom: 0;
  background: -o-linear-gradient(to bottom, rgba(0, 52, 96, 0), rgba(0, 52, 96, 0.05), rgba(0, 52, 96, 0.3));
  background: -moz-linear-gradient(to bottom, rgba(0, 52, 96, 0), rgba(0, 52, 96, 0.05), rgba(0, 52, 96, 0.3));
  background: -webkit-linear-gradient(to bottom, rgba(0, 52, 96, 0), rgba(0, 52, 96, 0.05), rgba(0, 52, 96, 0.3));
  background: linear-gradient(to bottom, rgba(0, 52, 96, 0), rgba(0, 52, 96, 0.05), rgba(0, 52, 96, 0.3)); }
  .expcko .prototype .hpadding-lg {
    padding-bottom: 0; }
  @media (min-width: 768px) {
    .expcko .prototype .prototype_thm {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      float: none;
      clear: both; } }
.expcko .process {
  padding-top: 0;
  padding-bottom: 0; }
  .expcko .process img {
    padding-left: 0;
    padding-right: 0; }

#home nav.links a:hover:after, #home nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#home nav, #home nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg path, .extra svg rect, .extra svg circle {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover circle {
  fill: #74b5b0; }

.qpool .header, .expcko .header {
  padding-bottom: 0px;
  overflow: hidden; }

.pm .arch img:nth-of-type(2), .pm .features img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-border-radius: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.intern a:hover, .intern a:focus {
  text-decoration: none;
  color: #f14700; }
@media (min-width: 992px) {
  .intern .process .step {
    text-align: right; } }
.intern .process .description {
  border-left: 3px solid #f14700; }
  .intern .process .description .sidenote {
    font-weight: 300;
    font-size: 11pt; }

#home nav.links a:hover:after, #home nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#home nav, #home nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg path, .extra svg rect, .extra svg circle {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover path, .extra svg:hover rect, .extra svg:hover circle {
  fill: #74b5b0; }

.qpool .header, .expcko .header {
  padding-bottom: 0px;
  overflow: hidden; }

.pm .arch img:nth-of-type(2), .pm .features img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-border-radius: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.pm a:hover, .pm a:focus {
  text-decoration: none;
  color: #1abc9c; }
.pm .strong {
  color: #1abc9c;
  font-size: 12.5pt; }
.pm .img_frame {
  position: relative; }
.pm .header {
  padding-bottom: 0; }
.pm .process h4, .pm .arch h2 {
  text-align: left; }
.pm .arch img:nth-of-type(2):hover {
  opacity: 0; }
.pm .features p {
  opacity: 0;
  margin-bottom: 0;
  font-size: 11pt;
  padding-left: 0;
  padding-right: 0; }
.pm .features .img_frame {
  margin-top: 156px; }
.pm .features img:nth-of-type(2) {
  opacity: 0; }
.pm .features > *:hover p, .pm .features > *:hover img:nth-of-type(2), .pm .features > *:focus p, .pm .features > *:focus img:nth-of-type(2) {
  opacity: 1; }
