@import "../helpers/variables";
@import "../helpers/placeholder";
@import "../helpers/mixins";

.intern {
	a:hover, a:focus {
		text-decoration: none;
		color: $day100-color;
	}
	.process {
		.step {
			@media (min-width: $break-large) {
				text-align: right;
			}
		}
		.description {
			border-left: 3px solid $day100-color;
			.sidenote {
				font-weight: 300;
				font-size: 11pt;
			}
		}
	}
}