#banner nav.links a:hover:after, #banner nav.links li:first-of-type a:after {
  width: 100%;
  background: #74b5b0; }

#banner nav, #banner nav a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.extra svg .icon {
  fill: #7f9399;
  -webkit-transition: fill 0.3s ease;
  -moz-transition: fill 0.3s ease;
  -ms-border-radius: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

.extra svg:hover .icon {
  fill: #74b5b0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12.5pt;
  font-weight: 300;
  letter-spacing: 0.25pt;
  color: #3b3a36; }

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 17.5pt;
  font-weight: 200;
  letter-spacing: 0.5pt;
  text-transform: none; }

a {
  color: #7f9399;
  text-decoration: none; }
  a:hover {
    color: #74b5b0;
    text-decoration: none; }

.underlined {
  font-weight: 400; }

section {
  padding-top: 56px;
  padding-bottom: 56px; }
  section .row > div {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      section .row > div {
        padding-top: 10px;
        padding-bottom: 14px; } }

#banner {
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  #banner .row {
    margin-left: 0;
    margin-right: 0; }
    #banner .row:first-child {
      margin-bottom: 28px; }
    #banner .row .head {
      padding-left: 44px;
      padding-right: 44px; }
  #banner nav {
    padding-top: 4px;
    padding-bottom: 4px; }
    #banner nav a:first-of-type :after {
      width: 100%;
      background: #74b5b0; }
    #banner nav ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0; }
      #banner nav ul li {
        display: inline-block;
        padding-left: 24px !important;
        padding-right: 24px !important; }
    #banner nav.links a {
      color: #3b3a36;
      font-family: "Raleway", sans-serif;
      font-size: 14pt;
      font-weight: 100;
      text-decoration: none;
      display: inline-block; }
      #banner nav.links a:after {
        content: '';
        display: block;
        margin: auto;
        height: 2.5px;
        width: 0;
        background: transparent;
        -webkit-transition: width 0.5s ease;
        -moz-transition: width 0.5s ease;
        -ms-border-radius: width 0.5s ease;
        -o-transition: width 0.5s ease;
        transition: width 0.5s ease; }
    #banner nav.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030;
      text-align: center;
      background-color: #fff; }
      #banner nav.fixed a {
        font-family: "Raleway", sans-serif;
        font-size: 11.5pt;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none; }
        #banner nav.fixed a:hover {
          color: #74b5b0; }
        #banner nav.fixed a .active {
          color: #74b5b0; }

#work, #about {
  padding-left: 44px;
  padding-right: 44px; }
  @media screen and (min-width: 768px) {
    #work, #about {
      padding-left: 150px;
      padding-right: 150px; } }
  #work .row > div, #about .row > div {
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (min-width: 768px) {
      #work .row > div, #about .row > div {
        padding-left: 14px;
        padding-right: 14px; } }

div.work_thumbnail figure {
  position: relative; }
div.work_thumbnail figcaption {
  text-transform: capitalize;
  background-color: rgba(59, 58, 54, 0.85);
  text-align: center;
  color: #74b5b0;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 12%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-border-radius: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  div.work_thumbnail figcaption div.caption {
    padding-bottom: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    div.work_thumbnail figcaption div.caption h3 {
      color: #fff; }
div.work_thumbnail:hover figcaption {
  opacity: 1; }

#footer {
  text-align: center;
  font-size: 8.5pt; }

.extra {
  text-align: center; }

/*# sourceMappingURL=home.css.map */
