//media breakpoint
$break-medium: 768px;
$break-large: 992px;

$body-font: "Open Sans", sans-serif;
$head-font: "Raleway", sans-serif;

$universal-color: #3b3a36;
$secondary-color: #7f9399;
$highlight-color: #74b5b0;

//colors applied on project pages
$background-color-odd: #fcfcfc;
$day100-color: #F14700;
$actually-color: #1ABC9C;
$expedia-color: #003460;
$qpool-color: #bf6580;
$vr-color: #FF8A80;
